<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0997a30d-5563-4c37-9834-71268291f2e5/resourcegroups/ShadaxAzureApp/providers/Microsoft.Web/sites/LibraryDirectory</ResourceId>
    <ResourceGroup>ShadaxAzureApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://librarydirectory.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>librarydirectory.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LibraryDirectory</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LibraryDirectory</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibraryDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LibraryDirectory.Models.LibraryDbContext, LibraryDirectory" MigrationConfiguration="LibraryDirectory.Migrations.Configuration, LibraryDirectory" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CustomerDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDirectory.Models.LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CustomerDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDirectory.Models.LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CustomerDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LibraryDirectory.Models.LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:shadax.database.windows.net,1433;Initial Catalog=LibraryDirectory;Persist Security Info=False;User ID=Shadax;Password=Aleksandern1;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>